#usuario{
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    
}

table{
    width: 100%;
  }
  
  table, th, td {
    border: 1px solid black;
  }

  td{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
  }

  table{
    background-color:midnightblue;
    color: black;
  }

  img{
    width: 100px;
    height: 100px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  